@use "~/styles/helpers" as *;

.ad-item-content {
  padding-bottom: rem(36);
	
  &__inner {
    display: flex;
    flex-direction: column;
    row-gap: rem(32);
  }

  &__body {
    display: flex;
    column-gap: rem(32);
  }
}
