@use "~/styles/helpers" as *;

.filters-type {
  &__button {
    @include button-reset;

    width: 100%;
    font-family: var(--font-family-accent);
    line-height: 1.57;
    font-size: rem(14);
    color: var(--color-opacity-85);
		display: flex;
		justify-content: space-between;
		align-items: center;

		&.active {
			& svg {
				transform: rotate(180deg);
			}
		}
  }
}
