@use "~/styles/helpers" as *;

.ad-edit-content {
	&__form {
		display: flex;
    flex-direction: column;
    row-gap: rem(36);
		z-index: -100;
		
    & > :not(:nth-last-child(2)):not(:last-child) {
			position: relative;

      &::after {
        content: "";
        width: 100%;
        height: rem(1);
        background-color: var(--color-gray-input);
        position: absolute;
        bottom: rem(-18);
				display: flex;
				z-index: -1;
      }
    }
  }

  &__characteristics {
    display: flex;
    flex-direction: column;
    row-gap: rem(12);

    &-title {
      font-weight: 600;
      margin-bottom: rem(8);
    }
  }

  &__manage-price {
    display: flex;
		column-gap: rem(24);
    align-items: end;

    &:has(.input__error) {
      align-items: center;
    }
  }

  &__manage-description {
    display: flex;
		flex-direction: column;
    row-gap: rem(8);
  }

  &__actions {
    display: flex;
    column-gap: rem(10);

		&-notification {
			position: absolute;
			top: rem(40);
			right: 0;

		}
  }
}
