@use "~/styles/helpers" as *;

.fieldset {
  position: relative;

  &__legend {
    font-weight: 600;
    margin-bottom: rem(8);
  }

  &--category {
    max-width: rem(256);
  }

  &--type,
  &--condition {
    max-width: rem(456);
  }

  &--required {
    .fieldset__legend {
      display: flex;
      column-gap: rem(8);

      &::before {
        content: "*";
        font-family: var(--font-family-accent);
        color: var(--color-error);
        font-weight: 400;
      }
    }
  }
}
