@use "~/styles/helpers" as *;

.price-ai {
  position: relative;

  &__suggestion {
    box-shadow: 0 rem(2) rem(8) 0 rgba(0, 0, 0, 0.15);
    position: absolute;
    top: 0;
    width: rem(330);
    transform: translateY(-100%);
    padding: rem(8);
    font-family: var(--font-family-accent);
    font-size: rem(12);
    line-height: 1.33;
    letter-spacing: 0.03em;
    color: var(--color-dark);
		display: flex;
		flex-direction: column;
		row-gap: rem(8);
		z-index: 100;

    &-title {
			font-weight: 500;
    }

		&-buttons {
			display: flex;
			column-gap: rem(10);
		}
  }
}
