@use "~/styles/helpers" as *;

.catalog {
	width: 100%;

	&__list {
		margin-bottom: rem(10);
		gap: rem(12);
		
		&--block {
			display: grid;
			grid-template-columns: repeat(5, 1fr);
		}

		&--line {
			display: flex;
			flex-direction: column;
		}
	}
}