@use "~/styles/helpers" as *;

.filters-dropdown {
  height: 0px;
  overflow: hidden;
  transition-duration: var(--transition-duration);

  &__body {
    padding-block: rem(8);
    display: flex;
    flex-direction: column;
    row-gap: rem(8);
  }
	
  &__button {
    @include button-reset;

    display: flex;
    align-items: center;
    column-gap: rem(8);
    font-family: var(--font-family-accent);
    line-height: 1.57;
    font-size: rem(14);
    color: var(--color-opacity-85);

    &-field {
      @include square(rem(16));
      @include flex-center(true);

      border: rem(1) solid var(--color-gray-alt);
      border-radius: var(--border-radius-x-small);

      &::after {
        content: "";
        background: url("../../assets/icons/check.svg") center / cover no-repeat;
      }
    }

    &.active {
      .filters-dropdown__button-field {
        background-color: var(--color-accent);
        border: none;

        &::after {
          width: rem(11);
          height: rem(8);
        }
      }
    }
  }
}
