@use "~/styles/helpers" as *;

.ad-item-characteristics {
  &__title {
    font-size: rem(22);
    line-height: 1.27;
		margin-bottom: rem(16);
  }

	&__list {
		display: flex;
		flex-direction: column;
		row-gap: rem(6);
	}

	&__item {
		display: flex;
	}

	&__label {
		width: rem(160);
		font-weight: 600;
		color: var(--color-opacity-45);
	}
}
