@use "~/styles/helpers" as *;

.filters {
  color: var(--color-opacity-85);

  &__body {
    width: rem(256);
    padding: rem(16);
    background-color: var(--color-light);
    border-radius: var(--border-radius);
    display: flex;
    flex-direction: column;
    row-gap: rem(10);
  }

  &__title {
    font-family: var(--font-family-accent);
    font-weight: 500;
    line-height: 1.5;
    font-size: rem(16);
  }

  &__types {
    display: flex;
    flex-direction: column;
    row-gap: rem(10);

    &::after {
      content: "";
      width: 100%;
      height: rem(1);
      background-color: var(--color-gray-input);
      display: flex;
    }
  }

  &__toggle {
		display: flex;
		justify-content: space-between;
		
    &-text {
      font-weight: 600;
      font-size: rem(14);
      line-height: 1.4;
    }
  }
}
