@use "~/styles/helpers" as *;

.actions-panel {
	margin-bottom: rem(16);
	
	&__inner {
		padding: rem(12);
    background-color: var(--color-light);
		border-radius: var(--border-radius);
		display: flex;
		flex-wrap: nowrap;
  }
}
